/* line 11, ../sass/index.scss */
html, body {
  height: 100%;
  line-height: 20px;
}

/* line 15, ../sass/index.scss */
#wrapper {
  background: #555555 no-repeat scroll;
  height: 100%;
  margin: 0 auto;
  min-height: 3000px;
  width: 100%;
}

/* line 19, ../sass/index.scss */
#container {
  background: #885555 no-repeat scroll;
  height: 100%;
  margin: 0 auto;
  min-height: 3000px;
  width: 100%;
}

/* line 23, ../sass/index.scss */
#skrollr-body {
  height: 3000px;
  width: 1000px;
}

/* line 29, ../sass/index.scss */
.p1 {
  background: #ff0;
  height: 150px;
  width: 150px;
  position: absolute;
  top: 500px;
  left: 0px;
  display: block;
}

/* line 38, ../sass/index.scss */
.p2 {
  background: #456;
  height: 250px;
  width: 250px;
  position: absolute;
  top: 160px;
  left: 500px;
  -webkit-border-radius: 250px;
  -moz-border-radius: 250px;
  -ms-border-radius: 250px;
  -o-border-radius: 250px;
  border-radius: 250px;
}

/* line 49, ../sass/index.scss */
.p3 {
  background: #456;
  height: 500px;
  width: 500px;
  position: absolute;
  top: 1100px;
  left: 500px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  -ms-border-radius: 500px;
  -o-border-radius: 500px;
  border-radius: 500px;
}
